@tailwind base; 
@tailwind components; 
@tailwind utilities; 


body {
  background-color: #5e6e87; /* Set a color for the body */
}

.ambient-wall {
  background-color:#1a110e;
  background-image: 
    linear-gradient(45deg, rgba(255, 255, 255, 0.01) 25%, transparent 80%, transparent 50%, rgba(255, 255, 255, 0.05) 75%),
    url('https://www.transparenttextures.com/patterns/brick-wall.png'); /* Grungy texture */
  background-size: 105px 105px, auto;
}

.fairy-lights-container {
  position: relative; 
}

.fairy-lights {
  position: absolute; 
  top: 10;
  left: 10;
  width: 100%;
  height: 105%;
}

.fairy-light {
  position: absolute; 
  width: 10px;
  height: 16px;
  border-radius: 70%;
  background-color: #e7cf6f;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.5);
  }
}

.clock-container {
  background-color: black;
  padding: 20px 40px;
  border-radius: 8px; 
  border: 6px solid #444;;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  margin: auto;
}

.clock-display {
  position: absolute; 
  top: 75%; 
  left: 65%; 
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', sans-serif;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; 
  animation: shake 1s ease infinite;
}

.scott-pilgram-sign  {
  font-family:  'superfly', sans-serif;
  color: #ed2121;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 3px 3px 0 #050404, 6px 6px 0 #fffdfd;
  position: absolute;
  top: 10px; /* Position it near the top of the screen */
  left: 50%;
  transform: translateX(-50%); /* Center it horizontally */
  z-index: 1000; /* Make sure it stays on top of other content */
}

.poster {
  position: absolute;
  top: 10%;  
  left: 86%;
  width: 160px; 
  height:auto;
}

.colorPoster {
  position: absolute;
  top: 35%;  
  left: 15%;
  width: 210px; 
  height:auto;
}


.bandPic {
  position: absolute;
  top: 30%;  
  left: 50%;
  width: 800px; 
  height:auto;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); } 
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}


@font-face {
  font-family: 'superfly';
  src: url('/font.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
